<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wduwg"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name="com.mw.wduwg.services.GlobalVariable"
        android:allowBackup="true"
        android:icon="@drawable/wduwg_logo2223"
        android:label="@string/app_name"
        android:logo="@drawable/wduwg_logo1024"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.wduwg.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
        </activity>
        <activity
            android:name="com.example.wduwg.BusinessHomePageActivity"
            android:label="@string/title_activity_add_event_and_gateway"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.wduwg.SearchByPlaceActivity"
            android:label="@string/title_activity_search_by_place" >
        </activity>
        <activity
            android:name="com.example.wduwg.CountActivity"
            android:screenOrientation="portrait" >

            <!-- android:label="@string/title_activity_count" -->
        </activity>
        <activity
            android:name="com.example.wduwg.IdentifyingBusinessActivity"
            android:label="@string/title_activity_identifying_business"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.wduwg.ReportActualActvivity"
            android:label="@string/title_activity_reports"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.wduwg.AddEventActivity"
            android:label="@string/title_activity_events"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.wduwg.ReportEventActivity"
            android:label="Select Event"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.wduwg.ScanPDF417fromActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="mobi.pdf417.activity.Pdf417ScanActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="mobi.pdf417.activity.Pdf417ScanActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.wduwg.LoginFacebookActivity"
            android:label="Facebook"
            android:screenOrientation="portrait" >
        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="Facebook" >
        </activity>
        <activity
            android:name="com.manateeworks.cameraDemo.ActivityCapture"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name="com.example.wduwg.ScanerDetailActivity" >
        </activity>
        <activity android:name="com.example.wduwg.SettingsActivity" >
        </activity>
        <activity
            android:name="com.example.wduwg.AppSettingsActivity"
            android:label="Setttings" >
        </activity>
        <activity
            android:name="com.example.wduwg.SpecialActivity"
            android:label="Specials" >
        </activity>
        <activity
            android:name="com.example.wduwg.AddSpecialActivity"
            android:label="Add Specials" >
        </activity>
        <activity
            android:name="com.example.wduwg.EventActivity"
            android:label="Events" >
        </activity>
        <activity
            android:name="com.example.wduwg.BusinessOfUserActivity"
            android:label="Your Businesses" >
        </activity>
        <activity
            android:name="com.example.wduwg.SpalshFirstActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
